.message-box {
	z-index: 1;
	color: rgb(18, 130, 223);
	text-align: center;
	font-weight: bold;
	font-family: 'Contrail One', sans-serif;
	padding: 0px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
	background-color: #fff;
}
.firma {
	font-size: 54px;
	color: rgb(20,20,20);
	position: absolute;
	right: 22px;
	bottom: 3px;
	z-index: 2;
}
.firma:before {
    content: "-";
}
