.message-box {
	z-index: 1;
	padding: 0px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
	background-color: #000;
}
.message {
	display: block;
	position: absolute;
	height: auto;
	margin: 0px;
	padding: 0 0 30px 0;
	color: rgb(18, 130, 223);
	text-align: center;
	font-weight: bold;
	font-family: 'Contrail One', sans-serif;
}
.firma {
	font-size: 54px;
	color: rgb(20,20,20);
	position: absolute;
	right: 22px;
	bottom: 3px;
	z-index: 2;
}
.firma:before {
    content: "-";
}
.links {
	position: relative;
	z-index: 5;
}
.tip {
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	color: white;
	font-weight: bold;
	padding: 0 3px;
	z-index: 5
}
